/* font-family: "Verdana"; */
@font-face {
	font-family: "Verdana";
	src: url("../fonts/Verdana.ttf");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "Helvetica Light"; */
@font-face {
	font-family: "Helvetica Light";
	src: url("../fonts/Helvetica Light.ttf");
	font-style: normal;
	font-weight: normal;
}
