
* { margin: 0; padding: 0 }

ul, ol { list-style: none }


table { border-collapse: collapse; border-spacing: 0 }

img { border: none }

:focus { outline: 0 }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body{   
background:url(../img/back.jpg);
background-position: center;
min-width:815px;
max-width:1920px;
}

@color-gray:#b0b0b0;

.fonts{
color:#fff;
font-family:Verdana, Geneva CY,	DejaVu Sans, Sans-serif;   
font-size: 11.7px;  
margin-right:2.8%;                          
font-weight: normal;
text-align: justify;
}

.content{
p{
        .fonts;
        font-size:11.8px;
        line-height: 1.6;
        color:#858585;   
        }
        h3{
        .fonts;
        color:#0b81be;    
        font-size: 24px;    
    }}

.top_links{
    a:hover{
    text-decoration: none;
    color:@color-gray;    
    }

padding-top: 35px;
position:absolute;   
        p{
        font-family:Verdana, Geneva CY,	DejaVu Sans, Sans-serif;
        font-weight: normal;    
        font-size:11px;  
        color:@color-gray;
        margin-left:7%;
        position: relative;
        padding-left: 45px;
    }    
}

.click_battons{
float:right;
color:#fff;
padding-top: 50px;
font-size:12px;
    img{
        float:right;
        margin-left: 50px;
        padding-top:3%;
    }
    a{
    margin-left:40px;    
    color:@color-gray;    
        &:hover{
        color:#fff;
	    text-decoration:none;
        border: 1px solid none;
        padding: 12px 15px;
        margin-left:25px;
        margin-right:-15px;
        background: linear-gradient(#0f8bbe, #0eb6fd);
        border-radius: 17px;
        }
        }   
        p{
        padding-top:10%;
        text-align: right;     
            }
            .down{
                padding-top:9%;
                color:@color-gray;
                text-align:right;
            }
    }

table{
width:100%;
border-color:@color-gray;
margin-top:43px;
    th{
    background:fadeout(#fff, 90%);
}
    table{
    width:96%;
    margin:2%;
    background:linear-gradient(#fff, #ececec);
     .left_block{
     float:left;
     border-right: 1px solid #ececec;
     width:36.8%;
     padding-left:1.5%;
         ul{
        .fonts;
        font-size:11.9px;    
        color:#858585;
        font-style:italic;     
        list-style-image: url(../img/marker.png);
        padding-left:9%;
            li{
            border-bottom:1px solid #e4e4e4;
            padding-bottom:2.6%;
            padding-top:2.6%;    
            margin-right:31%;
            }
            .under_line li{
            margin-bottom: -6.5%;    
            border:none;    
            }
          }
         .content;
         }
        .right_block{
        margin-bottom:39px;    
        width:61%;    
        float:right;
        .content;
            p{margin-bottom:3.1%;}
		span{
		font-style:italic;
		color:#000000;
		}
        }
        table{
                .stylish{
                position:absolute;
                margin-top:8%;
                margin-left:-2.4%;     
                 width:38px;
                 height:38px;
                 display:block;
                 border-radius:26px;
                 -moz-border-radius:26px;
                 -webkit-border-radius:26px;
                 -khtml-border-radius:26px;
                 border:#fff 3px double;
                 font-size:20px;
                 color:#888;
                 line-height:38px;
                 text-shadow:0 1px 0 #fff;
                 text-decoration:none;
                 text-align:center;
                 background:linear-gradient(#fff, #ececec);
                     img{
                        position: relative;
                        padding-top: 9px;
                        padding-left: 11px;     
                    }
            }

                .stylish:hover{
                 border:#bbb 2px double;
                 color:#aaa;
                 text-decoration:none;
                 background:linear-gradient(#ececec, #fff);
                    
                background: #ececec; /* for non-css3 browsers */ 
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec', endColorstr='#fff'); /* для IE6-9 */
                background: -webkit-linear-gradient(top, bottom, #fff, #ececec); /* для webkit-браузеров */
                background: -moz-linear-gradient(top,  #ececec,  #fff); /* для firefox 3.6+ */ 
                background: -o-linear-gradient(top,  #ececec,  #fff); /* для Opera 11.10+ */
                background: -ms-linear-gradient(top,  #ececec,  #fff); /* для IE10+ */    
                 }
            
                .stylish2{
                position:absolute;
                margin-top:8%;
                margin-left:85.5%;     
                 width:38px;
                 height:38px;
                 display:block;
                 border-radius:26px;
                 -moz-border-radius:26px;
                 -webkit-border-radius:26px;
                 -khtml-border-radius:26px;
                 border:#fff 3px double;
                 font-size:20px;
                 color:#888;
                 line-height:38px;
                 text-shadow:0 1px 0 #fff;
                 text-decoration:none;
                 text-align:center;
                 background:linear-gradient(#fff, #ececec);
                     img{
                        transform:rotate(180deg);
                        -moz-transform:rotate(180deg);
                        -ms-transform:rotate(180deg);
                        -webkit-transform:rotate(180deg);
                        -o-transform:rotate(180deg); 
                        position: relative;
                        padding-bottom: 11px;
                        padding-right: 13px;     
                    }
            }

                .stylish2:hover{
                 border:#bbb 2px double;
                 color:#aaa;
                 text-decoration:none;
                 background:linear-gradient(#ececec, #fff);
                 }
                    
         width:97%;
         margin:1.5%;
         border-color:#ececec;
            table{
            width:98%;
            margin:1%;
            background: linear-gradient(to bottom left, #0f8dc3, #0eb5fb, #0f8dc3,#0eb5fb);
                img{
                margin-top:3%;     
                padding-left:25px;
                float:left;
                padding-right:1.1%;    
                }
                    h3{
                    .fonts;
                    font-size: 24px;
                    text-shadow: 1px 2px 0 #117faa; 
                    color: #fff;    
                    }
                        p{
                        .fonts;
                        }
                   }
              }
        table{     
        width:97%;
        margin:1.5%;
        .content;
        div{
        margin:4px;
        padding-top:27px;
        padding-bottom:30px;
        background:linear-gradient(#fff, #ececec);    
            img{float: left;
            padding-left: 1.5%;    
            }
            span{float: right;
            width:83%;
            margin-top:-1.6%;     
            }
            
            p{
            font-size:12.1px;
            border-right: 1px solid none;
            margin:1%;
            padding-right:2.5%;    
                }
            }
            .clock{float:left;
            border-right: 1px solid #e4e4e4;
            width:48.6%;
            padding-left:1%;
            }
            .coffee{float:right;
            width:48.6%;
                span{
                margin-top:-2%;
                padding-bottom:1px;
                padding-left: 1px;    
                }
                }
            }
        
        }
}

footer{
margin-top: 50px;    
        .line{
        height:1px;
        width:100%;
        background:#000;
        }
            table{
            color:#4a4a4a;
            width:100%;
            margin-top:1px;
            }
background:fadeout(#000, 50%);
            .foot_links{
                span{
                    color:#fff;
                    font-family:Verdana, Geneva CY,	DejaVu Sans, Sans-serif;   
                    font-size: 24px;  
                    font-weight: normal;
                    margin-left:5px; 
                }
              .top_links;
                p{
                margin-top:-15%;    
                    }   
                }
    }

.block{
    margin-top: 100px;
    margin-bottom:35px;
    width:30%;
    margin-left: 5%;
    border: 1px solid none;
    border-radius: 10px;
    padding: 20px;
    position: relative;
	background:fadeout(#000, 50%);
    p{
        .fonts;
        color:@color-gray;
        padding-left:6%;
    }
    .decor{
    font-style: italic;
    color:#0c7cb6;
        font-size:10px;
        margin-top:10%;
        margin-bottom:-0.5%; 
    }
}
      
.block::after {
    transform: rotate(-22deg);   
    content: ''; 
    position: absolute;
    left: 5px; top: -25px;
    border: 28px solid fadeout(#000, 50%);
	border-left: 1px solid fadeout(#000, 70%);
	border-right: 13px solid transparent;
	border-top: 0px solid transparent;	
   }

 a {
    outline: none;
    text-decoration: none; 
   }

A:visited {
    color: #cecece;